apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "common.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  {{- if .Values.updateStrategy }}
  strategy: {{- toYaml .Values.updateStrategy | nindent 4 }}
  {{- end }}
  {{- $podLabels := merge .Values.podLabels .Values.commonLabels }}
  selector:
    matchLabels: {{- include "common.labels.matchLabels" ( dict "customLabels" $podLabels "context" $ ) | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- if .Values.podAnnotations }}
        {{- include "common.tplvalues.render" (dict "value" .Values.podAnnotations "context" $) | nindent 8 }}
        {{- end }}
      labels: {{- include "common.labels.standard" ( dict "customLabels" $podLabels "context" $ ) | nindent 8 }}
    spec:
      serviceAccountName: {{ template "dial.serviceAccountName" . }}
      {{- include "dial.imagePullSecrets" . | nindent 6 }}
      {{- if .Values.hostAliases }}
      hostAliases: {{- include "common.tplvalues.render" (dict "value" .Values.hostAliases "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity: {{- include "common.tplvalues.render" ( dict "value" .Values.affinity "context" $) | nindent 8 }}
      {{- else }}
      affinity:
        podAffinity: {{- include "common.affinities.pods" (dict "type" .Values.podAffinityPreset "customLabels" $podLabels "context" $) | nindent 10 }}
        podAntiAffinity: {{- include "common.affinities.pods" (dict "type" .Values.podAntiAffinityPreset "customLabels" $podLabels "context" $) | nindent 10 }}
        nodeAffinity: {{- include "common.affinities.nodes" (dict "type" .Values.nodeAffinityPreset.type "key" .Values.nodeAffinityPreset.key "values" .Values.nodeAffinityPreset.values) | nindent 10 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector: {{- include "common.tplvalues.render" ( dict "value" .Values.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations: {{- include "common.tplvalues.render" (dict "value" .Values.tolerations "context" .) | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      {{- end }}
      {{- if .Values.schedulerName }}
      schedulerName: {{ .Values.schedulerName | quote }}
      {{- end }}
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints: {{- include "common.tplvalues.render" (dict "value" .Values.topologySpreadConstraints "context" .) | nindent 8 }}
      {{- end }}
      {{- if .Values.podSecurityContext.enabled }}
      securityContext: {{- omit .Values.podSecurityContext "enabled" | toYaml | nindent 8 }}
      {{- end }}
      {{- if .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- end }}
      {{- if .Values.initContainers }}
      initContainers:
        {{- include "common.tplvalues.render" (dict "value" .Values.initContainers "context" $) | nindent 8 }}
      {{- end }}

      containers:
        - name: {{ .Chart.Name }}
          image: {{ template "dial.image" . }}
          imagePullPolicy: {{ .Values.dial.image.pullPolicy }}
          {{- if .Values.containerSecurityContext.enabled }}
          securityContext: {{- omit .Values.containerSecurityContext "enabled" | toYaml | nindent 12 }}
          {{- end }}
          {{- if .Values.dial.diagnosticMode.enabled }}
          command: {{- include "common.tplvalues.render" (dict "value" .Values.dial.diagnosticMode.command "context" $) | nindent 12 }}
          {{- else if .Values.dial.command }}
          command: {{- include "common.tplvalues.render" (dict "value" .Values.dial.command "context" $) | nindent 12 }}
          {{- end }}
          {{- if .Values.dial.diagnosticMode.enabled }}
          args: {{- include "common.tplvalues.render" (dict "value" .Values.dial.diagnosticMode.args "context" $) | nindent 12 }}
          {{- else if .Values.dial.args }}
          args: {{- include "common.tplvalues.render" (dict "value" .Values.dial.args "context" $) | nindent 12 }}
          {{- end }}
          env:
            # TODO - have application code accomodate URI from env var as a substitute to explicitly defining each part of URI
            #- name: MONGODB_URI
              #valueFrom:
                #secretKeyRef:
                  #name: {{ template "common.names.fullname" . }}-mongodb-uri
                  #key: mongodb-uri
            {{- if .Values.dial.extraEnvVars }}
            {{- include "common.tplvalues.render" (dict "value" .Values.dial.extraEnvVars "context" $) | nindent 12 }}
            {{- end }}
          envFrom:
            {{- if .Values.dial.extraEnvVarsCM }}
            - configMapRef:
                name: {{ include "common.tplvalues.render" (dict "value" .Values.dial.extraEnvVarsCM "context" $) }}
            {{- end }}
            {{- if .Values.dial.extraEnvVarsSecret }}
            - secretRef:
                name: {{ include "common.tplvalues.render" (dict "value" .Values.dial.extraEnvVarsSecret "context" $) }}
            {{- end }}
          ports:
            {{- if .Values.dial.extraContainerPorts }}
            {{- include "common.tplvalues.render" (dict "value" .Values.dial.extraContainerPorts "context" $) | nindent 12 }}
            {{- end }}
          {{- if .Values.dial.customLivenessProbe }}
          livenessProbe: {{- include "common.tplvalues.render" (dict "value" .Values.dial.customLivenessProbe "context" $) | nindent 12 }}
          {{- end }}
          {{- if .Values.dial.customReadinessProbe }}
          readinessProbe: {{- include "common.tplvalues.render" (dict "value" .Values.dial.customReadinessProbe "context" $) | nindent 12 }}
          {{- end }}
          {{- if .Values.dial.customStartupProbe }}
          startupProbe: {{- include "common.tplvalues.render" (dict "value" .Values.dial.customStartupProbe "context" $) | nindent 12 }}
          {{- end }}
          {{- if .Values.dial.resources }}
          resources: {{- toYaml .Values.dial.resources | nindent 12 }}
          {{- end }}
          {{- if .Values.lifecycleHooks }}
          lifecycle: {{- include "common.tplvalues.render" (dict "value" .Values.lifecycleHooks "context" $) | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: dial-config
              mountPath: /app/local-conf.json
              subPath: local-conf.json
          {{- if .Values.dial.extraVolumeMounts }}
          {{- include "common.tplvalues.render" (dict "value" .Values.dial.extraVolumeMounts "context" $) | nindent 12 }}
          {{- end }}
          {{- if .Values.extraVolumeMounts }}
          {{- include "common.tplvalues.render" (dict "value" .Values.extraVolumeMounts "context" $) | nindent 12 }}
          {{- end }}
        {{- if .Values.sidecars }}
        {{- include "common.tplvalues.render" ( dict "value" .Values.sidecars "context" $) | nindent 8 }}
        {{- end }}

      volumes:
        - name: dial-config
          secret:
            secretName: {{ template "common.names.fullname" . }}-config
            items:
              - key: local-conf.json
                path: local-conf.json
      {{- if .Values.extraVolumes }}
      {{- include "common.tplvalues.render" (dict "value" .Values.extraVolumes "context" $) | nindent 8 }}
      {{- end }}
