name: CI

on:
  push:
    branches:
      - develop
      - main
      - 16-add-docker # TODO: remove this when PR is opened
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - develop
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: Ruff linting, formating, MyPy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.10"
          cache: true
      - name: Install dependencies
        run: |
          pdm venv create --with-pip --force $PYTHON
          pdm sync --dev -G:all
      # TODO add mypy check here
      - run: |
          pdm run ruff format --check
          pdm run ruff check

  test-all:
    name: Unit tests on various OSes and Python versions
    strategy:
      matrix:
        python-version:
          - python-version: "3.10"
            continue-on-error: false
          - python-version: "3.11"
            continue-on-error: false
          - python-version: "3.12"
            continue-on-error: false
          # TODO - fix issue with Jaxlib not installing
          - python-version: "3.13"
            continue-on-error: true
        os:
          - os: macos-latest
            continue-on-error: false
          - os: windows-latest
            continue-on-error: false
          - os: ubuntu-latest
            continue-on-error: false
    runs-on: ${{ matrix.os.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ matrix.python-version.python-version }}
          cache: true
      - name: Install dependencies
        run: |
          pdm venv create --with-pip --force $PYTHON
          pdm sync --dev -G:all
        continue-on-error: ${{ matrix.os.continue-on-error || matrix.python-version.continue-on-error }}
      - run: pdm run test-all
        continue-on-error: ${{ matrix.os.continue-on-error || matrix.python-version.continue-on-error }}

  docker-test:
    name: Build Docker image and run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build -t dial:test --target test .
      - name: Run tests in container
        run: docker run --rm dial:test pytest tests/

  continuous-deployment:
    name: Update deployments automatically
    needs: ['lint', 'test-all', 'docker-test']
    if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Kickoff pipeline
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        run: |
          curl --fail-with-body \
          --form token=${GITLAB_TOKEN} \
          --form ref=main \
          --form "variables[TRIGGER_BRANCH]=${{ github.ref_name }}" \
          "https://code.ornl.gov/api/v4/projects/17316/trigger/pipeline"
